<div class="lottery-container">
    <h2>Lotterry draw and jackpot information</h2>
   
    <ng-container *ngIf="totalList && totalList.Draws.length > 0; else noDraws">
        <div class="lottery-details">
            <div class="row">
                <h3 class="col">Draw name</h3>
                <h3 class="col">Draw date</h3>
                <h3 class="col">Draw number</h3>
                <h3 class="col">Draw amount</h3>
            </div>
            <div *ngFor= "let lottery of totalList.Draws" class="row">
                <div class="col">
                    <p>{{lottery.DrawDisplayName}}</p>
                </div>
                <div class="col">
                    <p>{{lottery.DrawDate | date:'dd-MM-yyyy'}}</p>
                </div>
                <div class="col">
                    <p>{{lottery.DrawNumber}}</p>
                </div>
                <div class="col">
                    <p>{{lottery.Div1Amount | currency : 'AU'}}</p>
                </div> 
            </div>  
        </div>
    </ng-container>
    <ng-template #noDraws>
        <p>There are no draws at the moment.</p>
    </ng-template>
 
</div>


