.container {
    border: 1px solid grey;
    margin-top: 20px;
    .lottery-list {
        margin: 20px;
    }
    .lottery-details {
        border-bottom: 1px solid grey;
        text-align: center;
    }
    label {
        font-weight: bold;
        padding-right: 10px;
    }
}
